@model P2000Maintenance.Models.P2000.Workstation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Workstation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dbId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dbId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Badging)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Badging)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Server)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Server)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Version)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Version)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OnlineDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnlineDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ip_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ip_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Guid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guid)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
